main {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    
    margin: 0; /* Remove margens padrão */
    flex-direction: column; /* Mantém o texto acima */
}
#relogio {
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #000;
    display: inline-block;
}

h1, p{
    text-align: center;
}